<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Microtonal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>716B3B7B1F65994B00AADA1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>716B3B8F1F65994B00AADA1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>716B3B9A1F65994B00AADA1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
